# Request Protection
NUXT_PUBLIC_AUTH_JS_BASE_URL=http://localhost:4200

# Database (Server)
POSTGRES_USER="tekken"
POSTGRES_PASSWORD="space"
POSTGRES_DB="development"

# Database (Client)
PRISMA_CONNECTION_STRING="postgresql://tekken:space@localhost:5432/development"

# Authentication
NUXT_AUTH_JS_SECRET=

## Github SSO
NUXT_GITHUB_CLIENT_ID=
NUXT_GITHUB_CLIENT_SECRET=
