# Request Protection
ORIGIN=http://localhost:4200

# Database (Server)
POSTGRES_USER="tekken"
POSTGRES_PASSWORD="space"
POSTGRES_DB="development"

# Database (Client)
PRISMA_CONNECTION_STRING="postgresql://tekken:space@localhost:5432/development"

# Authentication
AUTH_SECRET=

## Github SSO
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
