# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# IDE
.idea/
.vscode/
*.iml
.fleet/

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# dependencies
/node_modules
/.pnp
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files (can opt-in for commiting if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

tools/provisioner/resources

var/data/*

var/logs/*
!var/logs/.gitkeep

var/cache/*
!var/cache/.gitkeep
