# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.local

var/data/*
!var/data/.gitkeep

var/logs/*
!var/logs/.gitkeep

var/cache/*
!var/cache/.gitkeep
