.wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    transform: scale(90%);
}

.neutral {
    //margin: 10px 0;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg) scale(0.2);
    right: -81px;
    bottom: -14px;

    &:before {
        border-bottom: 80px solid white;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -45px;
        left: -65px;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }

    &:after {
        position: absolute;
        display: block;
        top: 3px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid white;
        border-left: 100px solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
}
