$arrow-tip-size: 1em;
$arrow-shaft-size: 1.5em;
$arrow-color: white;

.arrowContainer {
    @apply relative;
    @apply flex items-center justify-center;
    @apply min-h-[3em];
    @apply text-sm;

    width: $arrow-tip-size + $arrow-shaft-size;
}

.arrow {
    @apply relative;
    @apply flex items-center;
    @apply rotate-90;

    width: $arrow-shaft-size;
    height: $arrow-tip-size;
    background: $arrow-color;

    &:after {
        content: '';
        position: absolute;
        margin-left: calc(100% - 1px);
        width: 0;
        height: 0;
        border-left: $arrow-tip-size solid $arrow-color;
        border-right: $arrow-tip-size solid transparent;
        border-top: $arrow-tip-size solid transparent;
        border-bottom: $arrow-tip-size solid transparent;
    }
}

.hold {
    @apply bg-black;
    @apply after:border-l-black;
}

.forward {
    transform: rotate(0deg);
    margin-left: -1em;
}

.back {
    transform: rotate(180deg);
    margin-left: 1em;
}

.up {
    transform: rotate(-90deg);
    margin-top: 1em;
}

.down {
    transform: rotate(90deg);
    margin-top: -1em;
}

.up-forward {
    transform: rotate(-45deg);
    margin-top: 0.5em;
    margin-left: -0.5em;
}

.up-back {
    transform: rotate(225deg);
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.down-forward {
    transform: rotate(45deg);
    margin-top: -0.5em;
    margin-left: -0.5em;
}

.down-back {
    transform: rotate(135deg);
    margin-top: -0.5em;
    margin-left: 0.5em;
}
