.f {
    transform: rotate(0deg);
}

.b {
    transform: rotate(180deg);
}

.u {
    transform: rotate(-90deg);
}

.d {
    transform: rotate(90deg);
}

.uf {
    transform: rotate(-45deg);
}

.ub {
    transform: rotate(225deg);
}

.df {
    transform: rotate(45deg);
}

.db {
    transform: rotate(135deg);
}
